AppsoluteUTS/src/main/resources/appsolute.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                  xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                  xmlns:tns="http://server.talend.telefonica.de/"
                  xmlns:msg="http://bmc.com/ao/xsd/2008/09/soa"
                  targetNamespace="http://server.talend.tefefonica.de/"
                  name="AppsoluteUTSTransferService">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns:tns="http://server.talend.telefonica.de/"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    elementFormDefault="qualified"
                    targetNamespace="http://server.talend.telefonica.de/">
            <xsd:import namespace="http://bmc.com/ao/xsd/2008/09/soa"
                        schemaLocation="http://demucvaz54:8082/baocdp/orca?xsd=1"/>

            <!-- define request & response -->
            <xsd:element name="TicketInfo" type="tns:TicketInfo"/>
            <xsd:element name="Response" type="tns:Response"/>

            <xsd:complexType name="TicketInfo">
                <xsd:sequence>
                    <xsd:element name="TransactionHeader" type="tns:TransactionHeader"/>
                    <xsd:element name="TransactionBody" type="tns:TransactionBody"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="TransactionHeader">
                <xsd:sequence>
                    <xsd:element name="Source" type="xsd:string"/>
                    <xsd:element name="Destination" type="xsd:string"/>
                    <xsd:element name="Module" type="xsd:string"/>
                    <xsd:element name="Command" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TransactionBody">
                <xsd:choice>
                    <xsd:element name="SupportGroupList" type="tns:SupportGroup" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="TicketNumber" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:choice>
            </xsd:complexType>
            <xsd:simpleType name="SupportGroup">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>

            <xsd:complexType name="Response">
                <xsd:sequence>
                    <xsd:element name="Status" type="xsd:string"/>
                    <xsd:element name="result-set" type="tns:result-set"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="result-set">
                <xsd:sequence>
                    <xsd:element name="row" type="tns:column"/>
                    <xsd:element name="metadata" type="tns:metadata"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="column">
                <xsd:attribute name="name" type="xsd:string"/>
            </xsd:complexType>

            <xsd:complexType name="metadata">
                <xsd:sequence>
                    <xsd:element name="query-executed" type="xsd:string"/>
                    <xsd:element name="execution-milliseconds" type="xsd:long"/>
                    <xsd:element name="row-count" type="xsd:int"/>
                    <xsd:element name="column-count" type="xsd:int"/>
                    <xsd:element name="status" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>

</wsdl:definitions>