AppsoluteCamel/src/main/resources/appsolute_talend.wsdl

<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.talend.telefonica.de/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://server.talend.telefonica.de/" name="TransactionServerService">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:tns="http://server.talend.telefonica.de/"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" elementFormDefault="qualified"
                    targetNamespace="http://server.talend.telefonica.de/">
            <!-- todo: response -->
            <xsd:element name="ticketInfo" type="tns:TicketInfo"></xsd:element>
            <xsd:element name="ticketResponseList" type="tns:TicketResponseList"></xsd:element>
            <xsd:element name="ticketCRQ" type="tns:TicketCRQ"></xsd:element>
            <xsd:element name="ticketCRQResponseList" type="tns:TicketCRQResponseList"></xsd:element>

            <!-- request -->
            <xsd:complexType name="TicketInfo">
                <xsd:sequence>
                    <xsd:element name="transactionHeader" type="tns:TransactionHeader"></xsd:element>
                    <xsd:element name="transactionBody" type="tns:TransactionBody"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TransactionHeader">
                <xsd:sequence>
                    <xsd:element name="source" type="xsd:string"></xsd:element>
                    <xsd:element name="destination" type="xsd:string"></xsd:element>
                    <!-- todo: update -->
                    <xsd:element name="method" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TransactionBody">
                <xsd:sequence>
                    <xsd:element name="supportGroupList" type="tns:SupportGroup" minOccurs="0"
                                 maxOccurs="unbounded"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SupportGroup">
                <xsd:sequence>
                    <xsd:element name="supportGroup" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <!-- CRQ request -->
            <xsd:complexType name="TicketCRQ">
                <xsd:sequence>
                    <xsd:element name="transactionHeader" type="tns:TransactionHeader"></xsd:element>
                    <xsd:element name="transactionBody" type="tns:TransactionCRQBody"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="TransactionCRQBody">
                <xsd:sequence>
                    <xsd:element name="infrastructureChangeId" type="xsd:string" minOccurs="0" maxOccurs="unbounded"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <!-- response -->
            <xsd:complexType name="TicketResponseList">
                <xsd:sequence>
                    <xsd:element name="ticketResponse" type="tns:TicketResponse" minOccurs="0"
                             maxOccurs="unbounded"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TicketResponse">
                <xsd:sequence>
                    <xsd:element name="CHANGE_REQUEST_ID" type="xsd:string"></xsd:element>
                    <xsd:element name="COORDINATOR_GROUP" type="xsd:string"></xsd:element>
                    <xsd:element name="CHANGE_LOCATION" type="xsd:string"></xsd:element>
                    <xsd:element name="SERVICE" type="xsd:string"></xsd:element>
                    <xsd:element name="CI_ID" type="xsd:string"></xsd:element>
                    <xsd:element name="CI_NAME" type="xsd:string"></xsd:element>
                    <xsd:element name="LOCATION_CI" type="xsd:string"></xsd:element>
                    <xsd:element name="TEMPLATE" type="xsd:string"></xsd:element>
                    <xsd:element name="SUMMARY" type="xsd:string"></xsd:element>
                    <xsd:element name="NOTES" type="xsd:string"></xsd:element>
                    <xsd:element name="CRQCLASS" type="xsd:string"></xsd:element>
                    <xsd:element name="CHANGE_REASON" type="xsd:string"></xsd:element>
                    <xsd:element name="TARGET_DATE" type="xsd:dateTime"></xsd:element>
                    <xsd:element name="IMPACT" type="xsd:string"></xsd:element>
                    <xsd:element name="URGENCY" type="xsd:string"></xsd:element>
                    <xsd:element name="PRIORITY" type="xsd:string"></xsd:element>
                    <xsd:element name="RISK_LEVEL" type="xsd:string"></xsd:element>
                    <xsd:element name="STATUS" type="xsd:string"></xsd:element>
                    <xsd:element name="STATUS_REASON" type="xsd:string"></xsd:element>
                    <xsd:element name="MANAGER_GROUP" type="xsd:string"></xsd:element>
                    <xsd:element name="AFFECTED_CUSTOMERS" type="xsd:string"></xsd:element>
                    <xsd:element name="SCHEDULED_START_DATE" type="xsd:dateTime"></xsd:element>
                    <xsd:element name="ACTUAL_START_DATE" type="xsd:dateTime"></xsd:element>
                    <xsd:element name="SCHEDULED_END_DATE" type="xsd:dateTime"></xsd:element>
                    <xsd:element name="ACTUAL_END_DATE" type="xsd:dateTime"></xsd:element>
                    <xsd:element name="COMPLETED_DATE" type="xsd:dateTime"></xsd:element>
                    <xsd:element name="EARLIEST_START_DATE" type="xsd:dateTime"></xsd:element>
                    <xsd:element name="REQUESTED_START_DATE" type="xsd:dateTime"></xsd:element>
                    <xsd:element name="REQUESTED_END_DATE" type="xsd:dateTime"></xsd:element>
                    <xsd:element name="REQUESTED_SA_BEGIN_DATE" type="xsd:dateTime"></xsd:element>
                    <xsd:element name="REQUESTED_SA_END_DATE" type="xsd:dateTime"></xsd:element>
                    <xsd:element name="DURATION_MINUTES" type="xsd:int"></xsd:element>
                    <xsd:element name="SUBMIT_DATE" type="xsd:dateTime"></xsd:element>
                    <xsd:element name="LAST_MODIFIED_DATE" type="xsd:dateTime"></xsd:element>
                    <xsd:element name="IMPLEMENTOR_COMPANY" type="xsd:string"></xsd:element>
                    <xsd:element name="IMPLEMENTOR_ORGANIZATION" type="xsd:string"></xsd:element>
                    <xsd:element name="IMPLEMENTOR_GROUP" type="xsd:string"></xsd:element>
                    <xsd:element name="CUSTOMER_COMPANY" type="xsd:string"></xsd:element>
                    <xsd:element name="FAILURE_REASON" type="xsd:string"></xsd:element>
                    <xsd:element name="CLOSED_DATE" type="xsd:dateTime"></xsd:element>
                    <xsd:element name="REQUESTOR_COMPANY" type="xsd:string"></xsd:element>
                    <xsd:element name="SITE_ID_A" type="xsd:string"></xsd:element>
                    <xsd:element name="SITE_ID_B" type="xsd:string"></xsd:element>
                    <xsd:element name="SITE_NAME" type="xsd:string"></xsd:element>
                    <xsd:element name="SERVICE_AFFECTING" type="xsd:string"></xsd:element>
                    <xsd:element name="IS_CHANGE_SUCCESSFUL" type="xsd:string"></xsd:element>
                    <xsd:element name="RELEASE_ID" type="xsd:string"></xsd:element>
                    <xsd:element name="RELEASE_TEMPLATE" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="TicketCRQResponseList">
                <xsd:sequence>
                    <xsd:element name="ticketCRQResponse" type="tns:TicketCRQResponse" minOccurs="0" maxOccurs="unbounded"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TicketCRQResponse">
                <xsd:sequence>
                    <xsd:element name="WORK_LOG_ID" type="xsd:string"></xsd:element>
                    <xsd:element name="INFRASTRUCTURE_CHANGE_ID" type="xsd:string"></xsd:element>
                    <xsd:element name="DESCRIPTION" type="xsd:string"></xsd:element>
                    <xsd:element name="DETAILED_DESCRIPTION" type="xsd:string"></xsd:element>
                    <xsd:element name="COMMUNICATION_SOURCE" type="xsd:string"></xsd:element>
                    <xsd:element name="WORK_LOG_TYPE" type="xsd:string"></xsd:element>
                    <xsd:element name="VIEW_ACCESS" type="xsd:string"></xsd:element>
                    <xsd:element name="WEATHERMAP_RELEVANT_CHG" type="xsd:string"></xsd:element>
                    <xsd:element name="WEATHERMAP_LONGTERM_CHG" type="xsd:string"></xsd:element>
                    <xsd:element name="WORK_LOG_SUBMIT_DATE" type="xsd:dateTime"></xsd:element>
                    <xsd:element name="LAST_MODIFIED_DATE" type="xsd:dateTime"></xsd:element>
                    <xsd:element name="WORK_LOG_DATE" type="xsd:dateTime"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </types>
    <message name="getTicketInfo">
        <part name="parameters" element="tns:ticketInfo"/>
    </message>
    <message name="getTicketInfoResponse">
        <part name="parameters" element="tns:ticketResponseList"/>
    </message>
    <!-- 2nd API -->
    <message name="getTicketCRQ">
        <part name="parameters" element="tns:ticketCRQ"/>
    </message>
    <message name="getTicketCRQResponse">
        <part name="parameters" element="tns:ticketCRQResponseList"/>
    </message>

    <portType name="TransactionServer">
        <operation name="getTicketInfo">
            <input wsam:Action="http://server.talend.telefonica.de/TransactionServer/getTicketInfoRequest"
                   message="tns:getTicketInfo"/>
            <output wsam:Action="http://server.talend.telefonica.de/TransactionServer/getTicketInfoResponse"
                    message="tns:getTicketInfoResponse"/>
        </operation>
        <!-- 2nd API -->
        <operation name="getTicketCRQ">
            <input wsam:Action="http://server.talend.telefonica.de/TransactionServer/getTicketCRQResponse"
                   message="tns:getTicketCRQ"/>
            <output wsam:Action="http://server.talend.telefonica.de/TransactionServer/getTicketCRQResponse"
                    message="tns:getTicketCRQResponse"/>
        </operation>
    </portType>

    <binding name="TransactionServerPortBinding" type="tns:TransactionServer">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getTicketInfo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getTicketCRQ">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="TransactionServerService">
        <port name="TransactionServerPort" binding="tns:TransactionServerPortBinding">
            <soap:address location="http://localhost:8040/services/appsolute/"/>
        </port>
    </service>

</definitions>